<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- This file should be placed at project level in eclipse -->
<suite name="My Sample Suite">

<test name="Test1">
    <classes>
        <class name="PreConditionAndCleanUpStepsForMethodsOrTestCases" ></class>  
    </classes>
</test>


<test name="Test2">
    <classes>
        <class name="PreConditionAndCleanUpStepsForSetOfTestCasesOrClass" ></class>  
    </classes>
</test>


<test name="Test3">
    <classes>
        <class name="TestNgConfig" ></class>  
    </classes>
</test>



<test name="Test4">
    <classes>
        <class name="TestNgMultipleTests" ></class>  
    </classes>
</test>

<test name="Test5">
    <classes>
        <class name="SkipTheTestDemo" ></class>  
    </classes>
</test>



<test name="Test6">
    <classes>
        <class name="com.fedu.asserations.UsingAsserations" ></class>  
    </classes>
</test>



</suite>
